<a href="https://colab.research.google.com/github/chungbinpark/ML-tutorial/blob/main/%EC%BD%94%EB%94%A9%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**업데이트 알고리즘 이해 및 실습**

예제 1. $a_{n+1} = 2a_{n}+3$이고 $a_0 = 8$ 일 때, $a_5$를 구하세요.

In [ ]:
a = 8
for i in range(0,6):
    a = 2*a+3
    print (i+1,a)

1 19
2 41
3 85
4 173
5 349
6 701

예제 2. Newton method를 활용하여 $x^2-2x-3 = 0$ 의 해 구하기

In [ ]:
x = -10
step = 10
for i in range(0,step):
    m = 2*x-2
    y = x**2-2*x-3
    x = x-y/m
    print (x)

-4.681818181818182
-2.1929090909090907
-1.2228425643600749
-1.0111701137288756
-1.0000310196138715
-1.0000000002405505
-1.0
-1.0
-1.0
-1.0